 body
 {
	 margin:0;
 }

 .main
 {
	 
	 width:100%;
	 float:left;
	 text-align:center;
 }

.dv
{
	width:100%;
	float:left;
	
}
img
{
	width:100%;
}
.dw1{
	float:left;
	width:100%
}
.dw1 img
{
	margin: 20px 0;
	width:299px;
	
}
.wrapper
{
	width:93%;
	margin:auto;
}
.dv
{
	width:100%;
	float:left;

}

.dv h2
{
	margin: 100px 0 20px 0;
    text-align: initial;
    font-size: 19px;
    font-family: system-ui;
    font-weight: 700;
}
.dv2
{
	text-align: center;
    width: 16%;
    float: left;
    padding: 0 56px;
}
.dv2 img
   {
	border-radius: 157px;
	margin:0;
	}
.dv2 a
{
	line-height: 3.5;
	font-size:14px;
	font-weight:600;
	font-family:'Roboto', sans-serif;
	text-decoration: none!important;
	color:black;
}
.dv3a
{
	
	width: 49%;
    float: left;
    margin-right:1%;
}
.dv1
{
	margin-top:77px;
	width:100%;
	float:left;
}
.dv3a img
{
	width:100%;
}
.dv3b img
{
	width:100%;
}
.dv3b
{
	width: 49%;
    float: right;
    margin-left: 1%;
	
	
}
.dv11
{
	background: #f0f1f3;
	margin:10px 0;
	width:100%;
	float:left;
}
.margin{
	margin:10px 0;
}
.dv4
{
	width:20%;
	float:left;
}

.dv4 img
{
	vertical-align:middle;
	width:100%;
	
}


.dv4a
{
	background-color: #fff;
    text-align: initial;
	width:80%;
	float:left;
	
}
.dv4a a
{
	
	font-family: 'Roboto', sans-serif;
    color: rgba(32, 0, 163, 1);
    font-size: 15px;
    text-decoration: none;
	font-weight: 600;
}
.dv4a p
{

    font-family:'Roboto', sans-serif;
    margin: 0;
    font-size: 12px;
    color: #6c757d!important;
	font-weight: 600;
}
.bc {
    background: #f0f1f3;
    padding: 33px 0;
}
.bcc
{
	background: #f0f1f3;
    margin-bottom: 25px;
	padding: 10px 0;
    border-radius: 10px;
}

.d50
{
	width:49%;
	float:left;
	margin-right:1%;
}
.d50b
{
	width:49%;
	float:left;
	margin-left:1%;
}
marg{
	margin:0;
}
.d90
{
	
	text-align:left;
	width:90%;
	float:left;
}
.d10
{font-size: 30px;
   
    width: 10%;
    float: left;
}
.d10 i
{
	font-size: 21px;
    font-weight: 700;
}

.wrapper2
	{ width:80%;
	margin:auto;
	}
.wrapper2 dv
{
	float:left;
	text-align:initial;
	
}
li
{
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    float: left;
    color: black;
    margin: 0px 0px 25px;
    display: inline-block;
    font-weight: 600;
}
.Dvtt
{
	width:100%;
	float:left;
	text-align:left;
}
.btn
{
	font-size: 12px;
    border: none;
    border-radius: 2px;
    background: rgba(32, 0, 163, 1);
    color: #fff;
    border: 1px solid rgba(32, 0, 163, 1);
    padding: 6px 17px;
	
}
.btn2
{
	font-size: 12px;
    border: none;
    border-radius: 2px;
    background: transparent;
    border: 1px solid rgba(32, 0, 163, 1);
    color: rgba(32, 0, 163, 1);
    padding: 6px 17px;;
}
.pc
{ margin:6px 0 15px 0;
	font-size: 20px;
	color: #6c757d!important;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.dvtt h2
{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0!important;
	font-weight: 600;
	font-size: 16px;
	margin: 16px 0;
}
.wrapper3
{
	width:85%;
	margin:auto;
}
span
{
	margin:0 10px;
}
.bcc2
{
	padding: 10px 0;
    background: #f0f1f3;
    margin: 0 0 31px 0;
    border-radius: 11px;
}

@media screen and (min-width: 0) and (max-width: 500px) {
.wrapper{
	width:90%;
}
.dw1 img {
    width: 140px;
}
.wrapper3
{
	width:90%;
}
.dv h2 {
    margin: 45px 0 20px 0; 
}
.dv2 a
{
	font-size:9px;
}

.dv2
{
	width:15%;
	padding:0 14px;
}
.dv3a
{
	width:100%;
	margin:0;
}
.dv3b
{
	width:100%;
	margin:0;
}
.dv1 {
    margin-top: 33px;
      }
.d50 {
    width: 100%;
}
.d50b {
    width: 100%;
}
.dv3a img {
    
    padding-bottom: 23px;
}
.dv4 {
    width: 40%;
}
.dv4a {
    width: 60%;
   
}
.bc {
    
    padding: 4px 0;
}
span {
    margin: 0 7px;
}
li
{
	margin:0
}
ul
{
	    padding: 0px 23px;
}
.bcc2
{    padding: 7px 0 45px 0px;}

.d90
{
	padding-top: 21px;
}
.d10
{
	padding-top: 21px;
}
}
@media screen and (min-width: 501px) and (max-width: 767px)
 {
	.dv2 {
    text-align: center;
    width: 21%;
    float: left;
    padding: 0 10px;
}

.dv3a{
	width:100%;
}
.dv3b{
	width:100%;
}
	 
.dv3a img {
    padding-bottom: 23px;
}
	 
	 li {
    font-size: 8px;
	 }
	 
	 .bcc2 {
    padding: 1px 0 24px 0px;
}
.dv h2 {
    font-size: 12px;
   margin: 30px 0 20px 0;
}
.d50 {
    width: 100%;
}
.d50b {
    width: 100%;
}
.bc {
   
    padding: 23px 0;
}
 }
 
@media screen and (min-width: 768px) and (max-width: 1024px)
{
	.dv2 {
    width: 23%;
    padding: 0 7px;
}
.dv4 {
    width: 36%;
    
}
.dv4a {
    width: 54%;
    
}
.bc {
   
    padding: 24px 0;
}



}
@media screen and (min-width: 1025px) and (max-width: 1300px)
{
	.wrapper {
    width: 98%;
	}
	.dv2 {
   
    width: 20%;
    padding: 0 26px;
	}
	.dv1 {
    margin-top: 93px;
	}
	.dv4 {
    width: 24%;
	}
	.dv4a
	{
		width:76%;
	}
	.bc {
    
    padding: 24px 0;
      }
	  
	ul{
		padding:0 16px;
	}
	
}


